{# Базовый шаблон для генерации документов README #}
{% block header %}
{# Блок с заголовком, будет переопределен #}
{% endblock %}

{% block toc %}
{# Блок с оглавлением, будет переопределен #}
{% endblock %}

{% block content %}
{# Основной контент страницы, будет переопределен #}
{% endblock %}

{% block footer %}
{% endblock %}
