{# Шаблон для Сервиса #}
{% import 'macros.jinja2' as macros %}

{%- set service_anchor = macros.service_anchor(service_name, service.city) -%}
{%- set service_title = service.title -%}
{%- if service.city -%}
{%- set service_title = service_title + " (" + service.city + ")" -%}
{%- endif -%}

## {{ service_title }}

{% if service.get(description_field) %}
{{ service.get(description_field) }}
{% else %}
{{ service.description }}
{% endif %}

{% if service.website_url %}
{{ gettext("website") }}: [{{ service.title }}]({{ service.website_url }})
{% endif %}

{% if service.contact and service.contact.address %}
{{ gettext("address") }}: {{ service.contact.address }}
{% endif %}

{% if service.video_url %}
{{ gettext("video") }}: [{{ service.title }}]({{ service.video_url }})
{% endif %}
{% if service.contact and (service.contact.telegram or service.contact.email or service.contact.phones) %}
### {{ gettext("contact") }}

{% if service.contact.telegram %}
* {{ gettext("telegram") }}: [{{ service.contact.telegram }}](https://t.me/{{ service.contact.telegram | replace('@', '') }})
{% endif %}
{% if service.contact.email %}
* {{ gettext("email") }}: <{{ service.contact.email }}>
{% endif %}
{% if service.contact.phones %}
* {{ gettext("phones") }}:
{% for p in service.contact.phones %}
  - {{ p }}
{% endfor %}
{% endif %}
{% endif %}

{# Сортируем структуры по выбранному параметру #}
{% set structures_sorted = service.structures|sort(attribute=sort_by) if sort_by != "temperature" else service.structures %}
{% include 'table.jinja2' %}