{# Шаблон для таблицы структур #}
| {{ gettext("table.name") }} | {{ gettext("table.description") }} | {{ gettext("table.snow_type") }} | {{ gettext("table.temp_range") }} | {{ gettext("table.image") }} | {{ gettext("table.tags") }} | {{ gettext("table.similar") }} | {{ gettext("table.features") }} |
|------|------------|-----------|----------------|------|------|-------------------|-------------------|
{% for structure in structures_sorted %}
| [{{ structure.name }}]({{ structure.file_path | relpath(output_dir) | urlencode }}) | {{ getattr(structure, description_field) if getattr(structure, description_field) else "" }} | {{ structure.snow_type }} | {{ structure.temperature | format_temperature }} | {{ structure.images | format_image_link(structure.name, output_dir) }} | {{ structure.tags | format_list }} | {{ structure.similars | format_similars(output_dir) }} | {{ structure.features | format_features }} |
{% endfor %}
